name: Build Debug APK

on:
  push:
    branches: [ "*" ]
  pull_request:

jobs:
  build-debug-apk:
    runs-on: ubuntu-latest

    steps:
      # Checkout repository including submodules
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          submodules: recursive

      # Setup Java 17
      - name: Set up Java
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 17

      # Make gradlew executable
      - name: Grant execute permission
        run: chmod +x ./gradlew

      # Build debug APK
      - name: Build Debug APK
        run: ./gradlew assembleFreeDynamicDebug --no-daemon --stacktrace

      # Upload the debug APK
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: lemuroid-debug-apk
          path: "**/build/outputs/apk/freeDynamic/debug/*.apk"
