name: Android Build

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo with submodules
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Build Debug APK
        working-directory: ./Lemuroid-ui
        run: ./gradlew assembleDebug

      - name: Build Release APK
        working-directory: ./Lemuroid-ui
        run: ./gradlew assembleRelease

      - name: Upload Debug APK
        uses: actions/upload-artifact@v4
        with:
          name: lemuroid-ui-debug
          path: Lemuroid-ui/app/build/outputs/apk/debug/app-debug.apk

      - name: Upload Release APK
        uses: actions/upload-artifact@v4
        with:
          name: lemuroid-ui-release
          path: Lemuroid-ui/app/build/outputs/apk/release/app-release.apk
